@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
    margin: 0;
    padding: 0;
    font-family: "Prompt", sans-serif;
    text-decoration: none;
}
hr {
    width: 93%;
    margin: auto;
} 


/* container section */
.main-container {
    display: flex;
    width: 100%;
    height: 43.4rem;
}
.nav-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 20%;
    border-right: 10px solid #d7e1eb;
    background-color: #dae6f2;
}
.content-container {
    width: 80%;
    height: 100%;
    background-color: #dae6f2;
}
.dashboard-container {
    margin: 3.5rem;
    background-color: #dae6f2;
    border: white solid 5px;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 8px 5px #0026873f;
}
.line-container {
    margin: 1rem 2rem 0 2rem;
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}
.line-container-hover:hover .text-hover { 
    opacity: 100;
}
.line-container-hover:hover {
    background-color: #5581e82c;
    border-radius: 0.5rem;
}



/* button section */
.button-container {
    font-size: 1.5rem;
    gap: 10px;
    display: flex;
    flex-direction: column;
    margin: 2rem 2rem 1rem 2rem;
}
.nav-button {
    padding: 0.5rem;
    color: #5580e8;
}
.nav-button:hover {
    color: white;
    background-color: #5580e8;
    border-radius: 0.5rem;
    margin-left: 0.3rem;
    transition: 0.2s;
}

.create {
    display: flex;
    text-align: center;
    justify-content: center;
    color: white;
    border-radius: 1rem;
    height: 3rem;
    background-color: #5580e8;
    border: 3px solid #5580e8;
}
.create:hover {
    transition: 0.2s;
    border: 3px solid #5580e8;
    background-color: #d7e1eb;
    color: black;
}

/* logo section */
.logo {
    font-size: 3rem;
    margin-bottom: 4rem;
}

/* Dashboard section */
.dashboard-header {
    font-size: 2rem;
}
.dashboard-header-p {
    color: #5580e8;
}
.ceg-line { margin-top: 1rem;  margin-bottom: 0.4rem; font-weight: 500; cursor: default;}
.count {
    width: 8rem;
    display: flex;
}
.name {
    margin-left: 1rem;
}
.text-hover {
    transition: 0.2s;
    color: rgba(0, 0, 0, 0.449);
    opacity: 0;
}

/* create page section */

.required { margin-left: 0.5rem;}
.create-container {
    margin: 3.5rem;
    background-color: #dae6f2;
    border: white solid 5px;
    border-radius: 1rem;
    padding: 1rem;
    box-shadow: 5px 5px 8px 5px #0026873f;
}
.bottom-container {
    display: flex; 
    justify-content: flex-end;
} 
.label-text-input {
    display: flex;
}
.input-field-container {
    width: 100%;
    margin-top: 1rem;
    display: flex;
    justify-content: space-between;
}
.right-container {
    margin-right: 20rem;
}

/* field section */
.input-field {
    width: 15rem;
}

/* button section  */
.save-button {
    padding: 0.5rem 3rem 0.5rem 3rem;
    background-color: #5580e8;
    color: white;
    border-radius: 1rem;
    margin-right: 1rem;
    border: 2px solid #5580e8;
}
.cancel-button {
    padding: 0.5rem 3rem 0.5rem 3rem;
    background-color: #5580e8;
    color: white;
    border-radius: 1rem;
    margin-right: 1rem;
    border: 2px solid #5580e8;
}
.save-btn-hover:hover {
    transition: 0.2s;
    background-color: #d7e1eb;
    border: 2px solid #5580e8;
    color: black;
}




/* save-com section */
.display-saved {
    margin: 10rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.Header-saved {
    font-size: 3rem;
}
.sus-saved {
    font-size: 2rem;
    color: green;
}
.next-button {
    margin-top: 2rem;
    color: #5580e8;
    background-color: white;
    padding: 0.5rem 2rem;
    border-radius: 1rem;
    border: 2px solid white;
}
.next-button:hover {
    border: 2px solid rgba(0, 0, 0, 0.327);
}



/* overview section */
.banner-container {
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 93%;
    height: 15rem;
    background-color: #e5e5f7;
    background: repeating-linear-gradient( 45deg, black, black 2px, #e5e5f7 2px, #e5e5f7 25px );
}
.banner-container:hover {
    transition: 0.2s;
    opacity: 0.5;
}
.banner-container:hover .banner-text{
    color: #0048ff;
    opacity: 100%;
}
.banner-text {
    color: black;
    padding: 0.5rem 1rem;
    background-color: white;
    border-radius: 0.5rem;
}
.line-container-none {
    margin: 1rem 2rem 0 2rem;
    display: flex;
    height: 2rem;
    justify-content: space-between;
    align-items: center;
}
.box {
    width: 6rem;
}
.boxtop {
    width: 7rem;
}